@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ComicNeue';
  src: url('../assets/fonts/ComicNeue-Regular.ttf') format('truetype');
}

body {
  font-family: 'ComicNeue', cursive;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}